.navbar-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid red;
}

.nav-first-line-item{
    display: flex;
    width: 100%;
    margin: 10px 300px;
    justify-content: space-between;
    border: 1px solid blue;
}

.nav-input {
    margin-top: 40px;
    margin-right: 200px;
    padding-left: 20px;
    width: 420px;
    height: 36px;
}