.container-fluid{
    border: 1px solid green;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.nav-first-line{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.search-form{
    width: 360px;
    height: 48px;
}

.nav-second-line{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.nav-second-line a {
    color: black;
}

.nav-second-line a:hover {
    color: black;
}

.carousel-item{
    height: 500px;
}

.main-first-line{
    border: 1px solid red;
}

.main-second-line{
    border: 1px solid blue;
}